src/Makefile
src/jsdoc/*.c
src/jsdoc/*.o
src/*.c
src/*.o
src/roojspacker
src/*.stamp
src/*.stamp-t
src/*.la
src/roojspacker-1.0.h
src/roojspacker-1.1.h
src/roojspacker-1.2.h

src/roojspacker
src/*.vapi
src/*.typelib
src/*.gir

tests/*.c
examples/test


Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
compile
fontconfig/*
*.pc


bindings/php/*
!bindings/php/config.m4
!bindings/php/example.php
!bindings/php/roojspacker.c
!bindings/php/php_roojspacker.h
!bindings/php/roojspacker.xml
!README
