roojspacker/Makefile
roojspacker/*.c
roojspacker/*.o
roojspacker/roojspacker
*.stamp
*.stamp-t
*.la
roojspacker/roojspacker-1.0.h
roojspacker/roojspacker-1.1.h
roojspacker/roojspacker-1.2.h

roojspacker/*.vapi
roojspacker/*.typelib
roojspacker/*.gir

tests/*.c
examples/test


Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
compile
fontconfig/*
*.pc


bindings/php/*
!bindings/php/config.m4
!bindings/php/example.php
!bindings/php/roojspacker.c
!bindings/php/php_roojspacker.h
!bindings/php/roojspacker.xml
!README

CMakeFiles/*
roojspacker/CMakeFiles/*
roojspacker/build
roojspacker/.libs
roojspacker/.deps
CMakeCache.txt
build/

