Source: roojspacker
Section: unknown
Priority: optional
Maintainer: Alan <alan@roojs.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/roojs/roojspacker
Vcs-Git: https://github.com/roojs/roojspacker.git


Package: roojspacker
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Javascript compressor, packer and documentation tool
 includes sharable library for use with C / Gnome etc..

