Source: roojspacker
Section: unknown
Priority: optional
Maintainer: Alan <alan@roojs.com>
Build-Depends: debhelper (>= 11), autotools-dev
Standards-Version: 4.1.3
Homepage: https://github.com/roojs/roojspacker
Vcs-Git: https://github.com/roojs/roojspacker.git

Package: roojspacker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Javascript compressor, packer and documentation tool
 includes sharable library for use with C / Gnome etc..



